h1 {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-weight: normal;
    color: #7e0154;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: white;

}

h1, h2 {
    text-align: center;
}

p.fallback {
    color: white;
    text-align: center;

}